<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de guarderías</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="username">Nombre del usuario:</label>
        <input type="text" name="nombre_usuario" id="username" required>

        <label for="password">Contraseña del usuario:</label>
        <input type="password" name="contrasenia" id="password" required>

        <button type="submit">Login</button>
    </form>
</body>
</html>